<!DOCTYPE html>
<html>
<head>
  <title>Bitwall</title>
  <%#= stylesheet_link_tag "wysi", media: "all"%>
  <script type="text/javascript">
    var WALL_ID = <%= @wall_id%>
  </script>

  <%= stylesheet_link_tag    "frontend", media: "all" %>
  <% if Rails.env == 'development' %>
    <%= javascript_include_tag "frontend_dev" %>
  <% else %>
    <%= javascript_include_tag "frontend" %>
  <% end %>
  <script type="text/javascript" src="//use.typekit.net/wet5tvd.js"></script>
  <script type="text/javascript">
    try{Typekit.load();}catch(e){}
  </script>
  <link href='http://fonts.googleapis.com/css?family=Gudea:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="app"></div>

</body>
</html>
